.home-page{
    flex-grow: 1;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    position: relative;

    .home-page-main{
        .txt-container{
            margin-top: 40px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                margin-bottom: 10px;
            }
            h3{
                width: 340px;
            }
            
            .lh{
                line-height: 28px;
            }
        }
        .home-points-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 105px;
            margin-bottom: 118px;
            .home-points{
                margin-left: 15px;
                font-size: 80px;
                font-family: EditorSans-Semibold;
                font-weight: 100;
            }
            img{
                height: 55px;
                width:55px;
                margin-bottom: 12px;
            }
        }

        .mt{
            margin-top: 69px;
        }
        .home-start-timer-container{
            transform: translateY(-109px);
            p{
                color: white;
                font-size: 19px;
                line-height: 19px;
                transform: translateY(-100px);
            }
        }
        .lessons-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateY(-55px);
            margin-bottom: 90px;
    
            .lesson{
                width: 306px;
                height: 94px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
                border-radius: 8px;
                position: relative;
                margin-bottom: 34px;
                margin-right: 28px;
                transform: translateY(-51px);

                .num-container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .lesson-num{
                        margin-right: 25px;
                        margin-left: 21px;
                        font-size: 36px;
                        font-family: EditorSans-Semibold;
                    }

                    .down{
                        margin-bottom: 11px;
                        margin-top: 8px;
                    }

                    .timer{
                        font-size: 16px;
                        margin-right: 4px;
                        color: black
                    }
                }

    
                .info-container{
                    margin-top: 13.5px;
                    h3{
                        font-size: 18px;
                        margin-bottom: 4px;
                        transform: translateY(-5px);
                        width: fit-content;
                    }
                    .sub-info{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        transform: translateY(-5px);
                        margin-bottom: 5px;
    
                        img{
                            margin-left: 8px;
                        }
                        p{
                            font-size: 14px;
                            color: #989898;
                            letter-spacing: 0.2px;
                        }
                    }
                }
                .black{
                    height: 100%;
                    width: 19px;
                    background-color: black;
                    position: absolute;
                    left: 0;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
    
                .flow{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    position: absolute;
                    right: -29px;
                    top: 36px;
                    .circle{
                        width: 20px;
                        height: 20px;
                        background-color: black;
                        border-radius: 50%;
                    }
                    .empty{
                        background-color: white;
                        border: 2px solid gray;
                    }
                    .line{
                        width: 3px;
                        height: 107px;
                        background-color: white;
                    }
                }
    
                &:last-child {
                    .line{
                        display: none;
                    }
                }
    
                .lock-icon{
                    position: absolute;
                    bottom: -19px;
                    left: 32px;
                    width: 34px;
                }
            }
    
            .dis-lesson{
                opacity: 0.6;
            }

            .reset-game-btn{
                position: absolute;
                bottom: 10px;
                color: white;
                letter-spacing: 1.5px;
                user-select: none;
            }
        }
    }


    .home-play-container{
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 45px;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100px;
        transform: translateX(0px) !important;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        .info-btn{
            cursor: pointer;
            img{
                height: 21px;
            }
            p{
                font-size: 12px;
                transform: translateY(-5px);
            }
        }
        .start-btn{
            width: 70px;
            height: 70px;
            background-color: #989898;
            color: white;
            border-radius: 50%;
            transform: translateY(-46%);
            box-shadow: 0px 4px 6px rgb(0 0 0 / 8%);
            font-size: 18px;
            font-family: SimplerPro-Regular;
            border: none;

            .start-game-modal{
                position: absolute;
                width: 118px;
                background-color: white;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
                border-radius: 6px;
                top: -41px;
                right: -16px;
                p{
                    font-size: 16px;
                    color: black;
                    padding: 6px 12px;
                    font-family: SimplerPro-Bold;
                }
                .white-square{
                    position: absolute;
                    background-color: white;
                    width: 15px;
                    height: 15px;
                    top: 20px;
                    right: 50px;
                    transform: rotate(43deg);
                    border-radius: 3px;
                }
            }
        }
        .active{
            background-color: black;
            color: white;
        }
    }
}