.test-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    

    .test-progress-bar{
        margin-top: 33px;
        margin-bottom: 23px;
        width: 228px;
        height: 6px;
        border-radius: 25.5px;
        background-color: #F1F1F1;

        .curr-progress{
            height: 100%;
            border-radius: 25.5px;
            background-color: #323232;
            width: 0%;
            transition: all 0.5s;
        }
    }

    .test-quest-counter{
        font-family: EditorSans-Semibold;
        font-size: 16px;
        letter-spacing: 4px;
        margin-bottom: 36px;
    }

    .test-quest{
        font-family: EditorSans-Semibold;
        font-size: 36px;
        text-align: center;
        line-height: 113.5%;
        margin-bottom: 60px;

        .help{
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .test-options-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 44px;
        .option{
            width: 100%;
            min-height: 85px;
            background-color: white;
            padding: 8px 13px;
            margin-bottom: 12px;
            border-radius: 12px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            .option-txt{
                font-family: SimplerPro-Regular;
                font-size: 20px;
            }
        }
    }
    .multi-select-container{
        display: grid;
        grid-template-columns: auto auto;

        .multi-select-option{
            width: 165px;
        }
        .option-txt{
            font-size: 18px !important;
        }
    }
    .warpper{
        height: 100%;
        width: 100%;
        background-color: #323232CC;
        position: absolute;
    }

    .ans{
        width: 90%;
        height: fit-content;
        background-color: #F1F1F1;
        position: absolute;
        bottom: 0;
        border-radius: 31px;
        transform: translateY(100%);
        transition: all 0.5s;
        padding: 12px 44px;
        line-height: 21px;
        // color: white;
        text-align: center;
        
        .title{
            font-family: SimplerPro-Bold;
            margin-bottom: 16px;
            font-size: 22px;
            color: #FF6B6B;
        }

        p{
            font-family: SimplerPro-Regular;
            font-size: 20px;
            margin-bottom: 16px;
        }

        .ans-btn{
            position: absolute;
            bottom: -17%;
            right: 0;
            background-color: #FF6B6B;
            ;
        }
    }

    .show-ans{
        transform: translateY(-102px);
    }

    .test-btn{
        position: absolute;
        bottom: 40px;
        width: 92%;
    }

    .green-btn{
        background-color: #80C16E !important;
    }
    .green-txt{
        color: #80C16E !important;
    }

    .carousel{
        .slide{
           
        }
    }
}
.VueCarousel{
    direction: ltr;
    text-align: end;
    width: 80%;

    .VueCarousel-slide{
        height: 253px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
}