.test-bgc-0{
    background-image: url("@/assets/bgcs/test/0.svg");
    background-size:cover;
}
.test-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    position: relative;
    

    .test-progress-bar{
        margin-top: 33px;
        margin-bottom: 23px;
        width: 228px;
        height: 6px;
        border-radius: 25.5px;
        background-color: #F1F1F1;

        .curr-progress{
            height: 100%;
            border-radius: 25.5px;
            background-color: #323232;
            width: 0%;
            transition: all 0.5s;
        }
    }

    .test-quest-counter{
        font-family: EditorSans-Semibold;
        font-size: 16px;
        letter-spacing: 4px;
        margin-bottom: 36px;
    }

    .test-quest{
        font-family: EditorSans-Semibold;
        font-size: 36px;
        text-align: center;
        line-height: 113.5%;
        margin-bottom: 48px;
    }

    .test-options-container{
        min-height: 408px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 44px;
        .option{
            width: 100%;
            min-height: 85px;
            background-color: white;
            padding: 8px 13px;
            margin-bottom: 12px;
            border-radius: 12px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            .option-txt{
                font-family: SimplerPro-Regular;
                font-size: 20px;
            }
        }
    }
    .multi-select-container{
        display: grid;
        grid-template-columns: auto auto;

        .multi-select-option{
            width: 165px;
        }
        .option-txt{
            font-size: 18px !important;
        }
    }
    .ans-container{
        height: 100%;
        width: 100%;
        background-color: blue;
        position: absolute;
        transform: translateY(101%);
        transition:all 1s;
    }
    .show-ans-container{
        transform: translateY(0);
    }
}