*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    direction: rtl;
}

body {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0;
    height: 100vh;
    background-color: $background;
    font-family: SimplerPro-Regular;
}

#app>main {
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}

h3{
    font-family: SimplerPro-Bold;
    font-size: 28px;
}

p{
    font-family: SimplerPro-Regular;
    font-size: 20px;
}