@font-face {
    font-family: EditorSans-Semibold;
    src: url("~@/assets/fonts/EditorSans-Semibold.otf");
}
@font-face {
    font-family: SimplerPro-Regular;
    src: url("~@/assets/fonts/SimplerPro-Regular.otf");
}
@font-face {
    font-family: SimplerPro-Bold;
    src: url("~@/assets/fonts/SimplerPro-Bold.otf");
}