.home-nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11.5px 19.5px 0px;
    height: 4%;

    .home-nav-bar-select{
        display: flex;
        align-items: center;
        position: relative;

        .arrow{
            transform: rotate(0);
            transition: all 0.3s;
        }

        .txt{
            margin-left: 9px;
            font-size: 25px;
        }

        .options{
            position: absolute;
            background-color: #fff;
            border-radius: 15px;
            height: 0;
            min-width: 167px;
            top: 26px;
            right: 5px;
            padding: 0;
            transition: all 0.3s;
            overflow: hidden;

            .option{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 16px;
                font-weight: bold;
                padding: 0 8px;
                height: 38px;
                &:not(:last-child){
                    border-bottom: 1px solid #989898;
                }

                img{
                    margin-left: 10px;
                }
            }
        }
        .show{
            height: fit-content;
            // padding: 12px 0px;
            
        }
        .rotate{
            transform: rotate(180deg);
        }
    }
}