.onboarding{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    scroll-behavior: smooth;
    background-color: $gray;
    .full-width{
        width: 100%;
        height: 100%;
    }
    .welcome{
        padding-top: 192px;
        margin-bottom: 24px;
    }
    .welcome-img{
        width: 239px;
        height: 264px;
    }
    .slides-img{
        width: 100%;
        height: 445px;
        margin-bottom: 41px;
        height: 75%;
        transform: translateY(88px);
    }
    .text-container{
        width: 100%;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .onboarding-instructions{
        width: 246px;
        margin-bottom: 41px;
        line-height: 27.3px;
        font-size: 28px;
        font-weight: 700;
        font-family: SimplerPro-Bold;
    }
    .onboarding-btn{
        width: 343px;
        height: 48px;
        border-radius: 25.5px;
        padding: 11px 28px;
        background-color: #FFDE5E;
        border: none;
        font-size: 20px;
        font-weight: 700;
    }
}

.onboardingSlide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.onboardingSlide1{
    height: 100%;
    justify-content: center;
    img{
        margin-bottom: 50px;
    }
    h1{
        font-size: 80px;
    }
}

.onboardingSlide2{
    .slides-img{
        width: 100%;
        margin-bottom: 12px;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 12px;
        letter-spacing: 0.5px;
    }
    .onboarding-instructions{
        margin-bottom: 38px;
    }
}

.onboardingSlide5{
    .slides-img{
        margin-bottom: 35px;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 12px;
        letter-spacing: 0.5px;
    }
    .onboarding-instructions{
        margin-bottom: 42.5px;
    }
}